<launch>
  <set_env name="FASTDDS_BUILTIN_TRANSPORTS" value="UDPv4"/>
  <arg name="world_path" default="$(find-pkg-share turtlebot_flatland)/maps/hospital_section.world.yaml"/>
  <arg name="update_rate" default="100.0"/>
  <arg name="step_size" default="0.01"/>
  <arg name="show_viz" default="true"/>
  <arg name="viz_pub_rate" default="30.0"/>

  <node name="flatland_server" pkg="flatland_server" exec="flatland_server" output="screen">
    <param name="world_path" value="$(var world_path)"/>
    <param name="update_rate" value="$(var update_rate)"/>
    <param name="step_size" value="$(var step_size)"/>
    <param name="show_viz" value="$(var show_viz)"/>
    <param name="viz_pub_rate" value="$(var viz_pub_rate)"/>
    <param name="use_sim_time" value="true"/>
  </node>

  <node name="twist_mux" pkg="twist_mux" exec="twist_mux">
    <param from="$(find-pkg-share turtlebot_flatland)/config/cmd_vel_mux.yaml"/>
    <param name="use_sim_time" value="true"/>
    <remap from="cmd_vel_out" to="cmd_vel"/>
  </node>

  <group>
    <set_remap from="cmd_vel" to="cmd_vel_nav"/>
    <include file="$(find-pkg-share nav2_bringup)/launch/bringup_launch.py">
      <arg name="map" value="$(find-pkg-share turtlebot_flatland)/maps/hospital_section.yaml"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="autostart" value="true"/>
      <arg name="use_composition" value="true"/>
      <arg name="use_keepout_zones" value="false"/>
      <arg name="use_speed_zones" value="false"/>
      <arg name="params_file" value="$(command 'python3 $(find-pkg-share turtlebot_flatland)/config/nav2_params.py $(find-pkg-share nav2_bringup)/params/nav2_params.yaml')"/>
    </include>
  </group>

  <node name="rviz" pkg="rviz2" exec="rviz2"
      args="-d $(find-pkg-share turtlebot_flatland)/rviz/robot_navigation.rviz"
        if="$(var show_viz)">
    <param name="use_sim_time" value="true"/>
  </node>
</launch>
